<link rel="stylesheet" href="~/css/Home.css" />
@model HomeModel;
@{
    ViewData["Title"] = "Main";
}
@if (string.IsNullOrEmpty(Context.Session.GetString("Id")))
{
    <script src="~/js/components/index/reviews.js" asp-append-version="true" defer></script> 
}
else
{
    <script src="~/js/components/Index/changeView.js" type="module" asp-append-version="true" defer></script>
}
<main class="main">
    @if(string.IsNullOrEmpty(Context.Session.GetString("Id")))
    {
        <section class="join">
            <div class="join__us">
                <h1 class="join__title">Join us!</h1>
                <span class="join__description">Join to our family and be with our library!</span>
                <button data-open="search" class="join__button">Join us</button>
            </div>
            <div class="join__reviews">
                <div class="join__review left">
                    <img src="~/images/reviewsPictures/pic1.webp" class="join__image" />
                    <span class="join__author">Roseline Mayers</span>
                    <p class="join__description">I started using this website a few months ago, and it completely changed how I read books.     Borrowing is quick, the collection keeps growing, and I love discovering titles I’d never find in a regular bookstore. It’s like having a virtual library that never closes.</p>
                    <div class="join__bottom">
                        <img class="join__logo" src="~/favicon.webp" />
                        <span class="join__site">Library</span>
                    </div>
                </div>
                <div class="join__review show">
                    <img src="~/images/reviewsPictures/pic2.webp" class="join__image" />
                    <span class="join__author">Emma Collins</span>
                    <p class="join__description">This site makes reading so much easier and more affordable. I can borrow books anytime, return them when I’m done, and instantly pick something new. The interface is clean and intuitive — you can tell it was made by people who actually love books.</p>
                    <div class="join__bottom">
                        <img class="join__logo" src="~/favicon.webp" />
                        <span class="join__site">Library</span>
                    </div>
                </div>
                <div class="join__review right">
                    <img src="~/images/reviewsPictures/pic3.webp" class="join__image" />
                    <span class="join__author">Sophie Novak</span>
                    <p class="join__description">I was skeptical at first, but this service turned out to be amazing. The range of genres is impressive — from classics to new releases. The whole borrowing process is smooth, and I’ve already recommended it to my friends who read as much as I do.</p>
                    <div class="join__bottom">
                        <img class="join__logo" src="~/favicon.webp" />
                        <span class="join__site">Library</span>
                    </div>
                </div>
                <div class="join__review">
                    <img src="~/images/reviewsPictures/pic4.webp" class="join__image" />
                    <span class="join__author">Daniel Kim</span>
                    <p class="join__description">As someone who reads a lot, I’ve always struggled with space and money for new books. This site solved both problems. Now I can explore as many titles as I want without worrying about where to store them or how much they cost. It’s brilliant.</p>
                    <div class="join__bottom">
                        <img class="join__logo" src="~/favicon.webp" />
                        <span class="join__site">Library</span>
                    </div>
                </div>
                <div class="join__review">
                    <img src="~/images/reviewsPictures/pic5.webp" class="join__image" />
                    <span class="join__author">Lucy Walker</span>
                    <p class="join__description">I’m genuinely impressed by how simple and enjoyable this website makes book borrowing. It feels personal, not corporate. The system works perfectly, and I’ve found some rare gems here that I couldn’t get anywhere else. A must-visit for any reader.</p>
                    <div class="join__bottom">
                        <img class="join__logo" src="~/favicon.webp" />
                        <span class="join__site">Library</span>
                    </div>
                </div>
                <div class="join__review">
                    <img src="~/images/reviewsPictures/pic6.webp" class="join__image" />
                    <span class="join__author">Amanda Granger</span>
                    <p class="join__description">This platform reminded me why I love reading. The design feels warm and personal, not cold like most digital libraries. I keep finding books I never knew existed — it’s become part of my daily routine..</p>
                    <div class="join__bottom">
                        <img class="join__logo" src="~/favicon.webp" />
                        <span class="join__site">Library</span>
                    </div>
                </div>
                <div class="join__buttons">
                    <span class="material-symbols-outlined join__button join__button--left">arrow_left_alt</span>
                    <span class="material-symbols-outlined join__button join__button--right">arrow_right_alt</span>
                </div>
            </div>
        </section>
    } 
    else {
    <section class="join join--profile">
        <div class="join__profile">
            <div class="join__header">
                    @if(string.IsNullOrEmpty(Model.UserModel.UserImage))
                    {
                        <img class="join__picture" src="~/images/avatar.png" />
                    }
                    else
                    {
                        <img class="join__picture" src=@Model.UserModel.UserImage />
                    }
                <div class="join__panel">
                    <span class="join__username">@Model.UserModel.UserNick</span>
                    <div class="join__stats">
                        <div class="join__stat">
                                <span>@(Model.UserFollowers == null ? 0 : Model.UserFollowers.Count)</span>
                                <span class="join__desc">Followers</span>
                        </div>
                        <div class="join__stat">
                                <span>@(Model.UserFollowed == null ? 0 : Model.UserFollowed.Count)</span>
                                <span class="join__desc">Followed</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="join__nav">
                <li data-window="followers" class="join__item active">Followers</li>
                <li data-window="followed" class="join__item">Followed</li>
                <li data-window="books" class="join__item">Favourite books</li>
                <li data-window="leased" class="join__item">Leased Books</li>
            </ul>
            <div class="join__main">
                <div data-window="followers" class="join__data show">
                        @if(Model.UserFollowers == null)
                        {
                            <span>Nobody is follow you</span>
                        } else
                        {
                            foreach(var follower in Model.UserFollowers)
                            {
                                <a class="join__user" href="#">
                                    <img class="join__avatar" src=@(follower.UserImage == null ? "/images/avatar.png" : follower.UserImage) />
                                    <span class="join__nick">@follower.UserNick</span>
                                </a>
                            }
                        }
                </div>
                <div data-window="followed" class="join__data">
                        @if(Model.UserFollowed == null)
                        {
                            <span>You are not following anybody!</span>
                        } else
                        {
                            foreach(var followed in Model.UserFollowed)
                            {
                                <a class="join__user" href="#">
                                    <img class="join__avatar" src=@(followed.UserImage == null ? "/images/avatar.png" : followed.UserImage) />
                                    <span class="join__nick">@followed.UserNick</span>
                                </a>
                            }
                        }
                </div>
                <div data-window="books" class="join__data">
                        @if(Model.FavouriteBooks == null)
                        {
                            <span>You don't have a favourite books</span>
                        }
                        else
                        {
                            foreach(var book in Model.FavouriteBooks)
                            {
                                <a href="#">
                                    <img class="join__cover" src=@book.BookCover />
                                </a>
                            }
                        }                   
                </div>
                <div data-window="leased" class="join__data">
                        @if(Model.Lease == null)
                        {
                            <span>You don't have a leased books</span>
                        } 
                        else
                        {
                            foreach(var lease in Model.Lease)
                            {
                                <a href="#" class="join__leased">
                                    <img class="join__cover--leased" src=@lease.BookCover />
                                    <span class="join__book--title">@lease.BookTitle</span>
                                    <span>@lease.EndDate</span>
                                </a>
                            }
                        }
                </div>
            </div>
        </div>
    </section>
    }

    <section class = "section">
        <div class="section__header">
            <h1 class= "section__head">New books</h1>
            <a class="section__more" href="#">More</a>
        </div>
        <div class= "section__books">
            @if(Model.NewBooks == null)
            {
                <span class="section__notFound">Not Found</span>    
            }
            else
            @foreach(var book in Model.NewBooks)
            {
                <a href="#" class="section__book">
                    <div class="section__bookHeader">
                        <img class="section__cover" src="@book.BookCover" />
                        <div class="section__rating">
                            <span class="material-symbols-outlined section__star">star</span>
                            <span class="section__rate">@(book.AverageRate == null ? "0" : book.AverageRate)</span>
                        </div>
                    </div>
                    <span class="section__title">@book.BookTitle</span>
                    <span class="section__author">@book.AuthorName @book.AuthorSurname</span>
                </a>
            }
        </div>
    </section>
    <section class = "section">
        <div class="section__header">
            <h1 class="section__head">The best books</h1>
            <a class="section__more" href="#">More</a>
        </div>
        <div class="section__books">
            @if(Model.BestBooks == null)
            {
                <span class="section__notFound">Not Found</span>
            }
            else
            @foreach (var book in Model.BestBooks)
            {
                <a href="#" class="section__book">
                    <div class="section__bookHeader">
                        <img class="section__cover" src="@book.BookCover" />
                        <div class="section__rating">
                            <span class="material-symbols-outlined section__star">star</span>
                                <span class="section__rate">@(book.AverageRate == null ? "0" : book.AverageRate)</span>
                        </div>
                    </div>
                    <span class="section__title">@book.BookTitle</span>
                    <span class="section__author">@book.AuthorName @book.AuthorSurname</span>
                </a>
            }
        </div>
    </section>
    <section class="section section--categories">
        <div class="section__header">
            <h1 class="section__head">Categories</h1>
            <a class="section__more" href="#">More</a>
        </div>
        <div class="section__categories">
            @if(Model.Categories == null)
            {
                <span class="section__notFound">Not Found</span>
            } else
            @foreach(var category in Model.Categories)
            {
                <a href="#" class="section__category">@category.CategoryName</a>
            }

        </div>
    </section>
    <section class = "section section--reviews" >
        <div class="section__header">
            <h1 class="section__head">Reviews</h1>
            <a class="section__more" href="#">More</a>
        </div>
        <div class="section__reviews">
            @if(Model.Reviews == null)
            {
                <span class="section__notFound">Not Found</span>
            } else
            @foreach(var review in Model.Reviews)
            {
                <div class="section__review">
                    <img class="section__avatar" src=@(string.IsNullOrEmpty(review.UserImage) ? "/images/avatar.png" : review.UserImage) alt="@review.UserNick avatar" />
                    <a href="#" class="section__name">@review.UserNick</a>
                    <a href="#" class="section__bookName">@review.BookTitle</a>
                    <p class="section__text">@review.ReviewText</p>
                    <div class="section__footer">
                        <div class="section__rating">
                            <span class="material-symbols-outlined section__star">star</span>
                            <span class="section__rate">@review.ReviewRate</span>
                        </div>
                    </div>
                </div>
            }
 
        </div>
    </section>
</main>

